.nav{
    display: flex;
    justify-content: flex-end;
    margin:0 8px;
}

.ip{
    display: flex;
    box-shadow: 2px 2px 4px black;
}

.f3{
    text-shadow: 2px 3px 4px blue;
    color: rgb(96, 149, 196);
}
.grow{
    margin: 0px 2px;
}
.pa{
    box-shadow: 3px 3px 4px black,-3px -3px 4px black ;
    height:200px;
    width: 88vw;
    background-color: aqua;
    text-align: center;
}
.genc{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.imageContainer{
    position: relative;
    display:flex;
    justify-content:center;
    border: 3px solid green;
}
.boundingbox{
  position: absolute; 
  box-shadow: 0 0 0 3px red inset;
  display:flex ;
  flex-wrap: wrap;
  cursor: pointer;
}
#inputimage{
    border: 3px solid blue;
    
}
.pa4{
    box-shadow: 2px 2px 2px 7px black;
    background-color: yellow;
}
.signin{
    cursor: pointer;
}
.rg{
    margin: 0 2.5rem;
    margin-bottom: 1.5rem;
}

/* LOGO */

.br3{
    width: 10%;
    height: 10%;
    background-color: aqua;
    margin-top: -50px;
    display: grid;
    justify-items: center;
    align-items: center;
    opacity: 0.5;
}
.br3:hover{
    transform:scale(1.2);
}

/* signin and register */

.indicator{
    color: blue;
}