.body{
    margin:0px 15px;
}
.nav{
    display: flex;
    border-bottom: 2px solid rgb(1, 22, 15);
}
.home-nav{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
.rank{
    font-weight: 900;
    color: blue;
    font-size: larger;
    text-shadow: 2px 2px 2px lightblue ;
}
.rank-number{
 text-align: center;
 color: navy;
 font-size: xx-large;
}
.image-link{
    flex-direction: column;
}
.filelink-input,.link-input{
    width: 100%;
    box-sizing: border-box;
}
.filelink-input{
    max-width: 250px;
}
.ip{
    display: flex;
    box-shadow: 2px 2px 4px black;
    justify-content: center;
    flex-direction: column;
}
.filename{
    max-width: 220px;
    overflow-x: scroll;
}

@media screen and (min-width:490px){
    .filename{
        max-width: 220px;
        overflow-x:hidden;
    }
}
.f3{
    text-shadow: 2px 3px 4px blue;
    color: rgb(96, 149, 196);
}

.grow{
    margin: 0px 2px;
}
.input-container{
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 4px black,-3px -3px 4px black ;
    height:100%;
    max-width: 600px;
    background-color: aqua;
    text-align: center;
    padding: 20px;
}
#inputimage{
    width: 270px;
}

.genc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imageContainer{
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
    justify-items: center;
    width: 270px;
}
.boundingbox-container{
    width: 270px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background-color: blue;
    justify-items: center;
    justify-self: center;
    box-sizing: border-box;
}
.flex{
    justify-content: center;
}
.im{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    box-sizing: border-box;
}
.boundingbox{
  box-shadow: 0 0 0 3px red inset;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  box-sizing: border-box;
}
@media screen and (min-width:550px){
    #inputimage{
        width: 500px;
    }
    .boundingbox-container{
        width: 500px;
    }
    .imageContainer{
        width: 500px;
    }
}

.pa4{
    box-shadow: 2px 2px 17px 3px black;
    background-color: aqua;
}

.signin{
    cursor: pointer;
}
.rg{
    margin: 2.5rem 2.5rem;
    margin-bottom: 1.5rem;
}

/* LOGO */
.logo{
    display: flex;
    justify-content: center;
}
.logo-img{
    border-radius: 10px;
    height: 100%;
}
.logo-wrapper{
    width: 100px;
    height: 80px;
    opacity: 0.8;
    margin-top: 5px;
}



/* signin and register */

.indicator{
    color: blue;
}

/* AVATER */
.avater{
    border-radius: 100%;
    font-weight: 900;
    font-size: xx-large;
}

.profile-wrapper{
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

@media screen and (max-width:330px){
    .rg{
        margin: 1.5rem 0.5rem;
        margin-bottom: 1.5rem;
    }
    .profile-wrapper{
        gap: 5px;
        padding: 1px;
    }
    .profile{
        padding: 1px;
    }
}
@media screen and (max-width:275px){
    .body{
        overflow-x: scroll;
        margin: 0px 1px;
    }
    .detect{
        font-size: xx-small;
    }
    .profile-section{
        font-size: xx-small;
    }
    .submit{
        font-size: large;
    }
}
